@import "tailwindcss";


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define la clase de animación que usaremos en Tailwind */
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* El `forwards` es importante para que la animación se quede en su estado final */